/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    font-size: 44px;
    color: #315AF2;
}

h2 {
    font-size: 32px;
    color: #315AF2;
}

h3 {
    font-size: 24px;
    color: #315AF2;
}

h4 {
    font-size: 22px;
    color: #315AF2;
}

p {
    padding: 5px;
    font-size: 16px;
}


#blog {
    font-size: 22px;
    color: black;
}
.sub_topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 4;
}

.topbar {
    margin-left: 120px;
    margin-right: 120px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.topbar_item {
    margin: 15px;
    margin-left: 0px;
    align-self: center;
}


.small_btn {
    font-size: 16px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    background-color: #315AF2;
    border-radius: 6px;
    width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.big_btn {
  font-size: 32px;
  height: 58px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  background-color: #315AF2;
  border-radius: 6px;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.section {
    border-bottom: 2px solid #CDCDCD;
  }