{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/create_post.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="section">
        <div class="topbar">
            <img class="topbar_item" src="{% static "blog/Logo_Kodland.svg" %}">
            <div class="sub_topbar">
                <h4 id="blog" class="topbar_item" >Блог</h4>
                <input class="topbar_item small_btn" type="button" value="+ Добавить статью">
            </div>
        </div>
    </footer>
    <form class="main" action="{% url 'create_post' %}" method="post">
        {% csrf_token %}
        <h1>Добавить статью</h1>
        <div class="main_line1">
            <input class="item" type="text">
            <input class="submit_btn item" type="submit" value="Опубликовать">
        </div> 
        <div clas="main_line2">
            <textarea class="item"></textarea>
            <input class="item" type="file">
        </div>
    </form>
</body>
</html>